@media (min-width: 1200px){
  .header-text{
    width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 979px) { 
  .header-text{
    width: 750px;
    margin: 0 auto;
  }
}
@media (max-width: 767px){
  .header-text{
    width: 400px;
    margin: 0 auto;
  }
  body{
    padding:0;
  }
}
@media (max-width: 480px){
  body{
   margin: 0;
  }
}

body{
  font-family: Georgia, sans-serif;
}
.blog-container{
  padding: 0 55px 0 55px;
}
.navbar-inner{
  color: white;
  border: none;
  border-radius: 0;
  background-color: rgba(121, 189, 154,1);
  background-image: none;
  padding: 80px 0 80px 0;
}
.navbar-inner a{
  color: #FFF;
  border-bottom: 1px solid rgba(255, 200, 0,1);
}
.navbar-inner a:hover{
  text-decoration: none;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top, .navbar-inner{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.blog-container{
  margin-top: 15px;
}
