{% extends "super/foundation.html" %}
{% block styles %}
  .kc
  {
    color: #ABC
  }
{% endblock %}
{% block content %}
  <div style="margin-top:15%;" class="container">
    <div class="span8">
      <h1 class="kc credit pull-left span3">Kacy James<br>
        <small>Hey there, I'm making some changes. In the meantime check out my other footholds on the web.</small></h1>
      <ul style="font-size: 1.2em; margin-top: 11%;" class="span4 pull-right">
        <li><a href="http://dl.dropbox.com/u/13152762/resume.pdf">Resume</a></li>
        <li><a href="http://github.com/TheNorthEestern">Github</a></li>
        <li><a href="http://twitter.com/kacyjames">Twitter</a></li>
        <li><a href="http://linkedin.com/in/kacyjames">LinkedIn</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
